<h1>Enter your new Bookmark</h1>
 <%= form_for [@topic, @bookmark] do |f| %>
   <div class="form-group">
     <!--%= f.label :url, class: 'sr-only' %>-->
     <!--<br>-->
     <%= f.text_field :url, class: 'form-control', placeholder: "Enter a new bookmark URL" %>
   </div>
   <%= f.submit "Submit URL", class: 'btn btn-default pull-right' %>
 <% end %>