 <!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>welcome to Blockmarks <%= @user.email %></h1>

     <p>
       <%= link_to "Come on in!", new_user_session_url %>
     </p>
   </body>
 </html>