 <div class="row">
   <h2>Your Blocmarks:</h2>
     <div class="col-md-8">
       <% @user_bookmarks.each do |bookmark| %>
           <h4>
             <%="#{bookmark.topic.title}" %>
             <br>
             <li><%= link_to bookmark.url, bookmark.url, :target => '_blank' %> <%= link_to "Delete", [bookmark.topic, bookmark], method: :delete, class: 'btn btn-danger' %></li>
             <br>
           </h4>
       <% end %>
     </div>
 </div>
 
  <div class="row">
   <h2>What you like from other people:</h2>
     <div class="col-md-8">
       <% @liked_bookmarks.each do |bookmark| %>
           <h4 class="media-heading">
             <%="#{like.bookmark.url}" %>
             <br>
             <br>
           </h4>
       <% end %>
     </div>
 </div>
