 <br>
 <div class="jumbotron">
   <h1>Blocmarks</h1>
   <p>Sharing your bookmarks with the world one</p>
 </div>
 
 <div class="row">
   <div class="col-md-4">
     <h2>You get bookmark...</h2>
     <p>Send your friends a bookmark</p>
   </div>
   <div class="col-md-4">
     <h2>and YOU get a bookmark..</h2>
     <p>Or your enemies. Rick Roll much?</p>
   </div>
   <div class="col-md-4">
     <h2>Everyone gets a bookmark!</h2>
     <p>Because knowledge is power</p>
   </div>
 </div>
 
    <!--<div class="col-md-8">-->
    <!-- % @topics.each do |topic| %>-->
    <!--   <div class="media">-->
    <!--     <div class="media-body">-->
    <!--       <h4 class="media-heading">-->
    <!--         %= link_to topic.name, topic %>-->
    <!--       </h4>-->

    <!--     </div>-->
    <!--   </div>-->
    <!-- % end %>-->